@import 'base/reset.scss';
@import 'base/fonts.scss';
@import 'modules/variables.scss';

body {
    font-family:  'Zonapro', sans-serif;
    background-color: #0F0F0F;
    position: relative;
}
ul {
    list-style-type: none;
}
p {
    margin: 0;
}
a, button:hover {
    transition: .2s;
}
button {
    border: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    max-width: 76vw;
    padding-left: 16px;
    padding-right: 16px;
}
.container-right {
    padding-left: calc(calc(100% - 76vw ) / 2 + 16px);
}
.herosection {
    background-color: #0F0F0F;
    background: url(../img/image/Header_Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    align-items: center;
}
.logo, .logo-mobile-nav {
    width: 6.93vw;
}
.logo-mobile-nav {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 7.29vw;
}
.menu__container {
    display: flex;
    justify-content: space-between;
}
.menu__list {
    display: flex;
    gap: 3vw;
}
.menu__list-item {
    color: var(--gray-scale-gray-100, #F1F1F1);
    font-size: 0.94vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    cursor: pointer;
    &:hover {
        color: #13E3B1;
    }
}
.menu__list-item:last-child {
    position: relative;
    color: #13E3B1;
    border-bottom: 1px solid #13E3B1;
    &::after{
        content: '';
        position: absolute;
        top: 0.1vw;
        right: -1.67vw;
        width: 1.25vw;
        height: 1.25vw;
        background-image: url(../img/icon/arrow.svg);
        background-size: cover;
    }
}
.menu__list-item {
    a {
        color: inherit;
    }
}
.menu__button {
    display: none;
    position: absolute;
    right: 2.34vw;
    width: 1.67vw;
    height: 0.67vw;
    background-color: transparent;
}
.menu__button-span {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    width: 100%;
    left: 0;
    height: 1px;
}
.menu__button-span:first-child {
    top: 0;
}
.menu__button-span:last-child {
    bottom: 0;
}
.herosection__content {
    padding-bottom: 5.2vw;
}
.herosection__title {
    max-width: 52.3vw;
    margin-top: 12.6vw;
    margin-bottom: 2.8vw;
    color: #fff;
    font-size: 3.96vw;
    font-weight: 700;
    line-height: 120%; /* 91.2px */
    letter-spacing: -1.52px;
    span {
        background-color: #fff;
        background-image: linear-gradient(90deg, #88c4d6, #2aa59b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.herosection__undertitle {
    margin-bottom: 9.48vw;
    color: var(--gray-scale-gray-200, #CCC);
    font-size: 0.94vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;
}
.herosection__link {
    display: none;
    position: relative;
    color: #13E3B1;
    border-bottom: 1px solid #13E3B1;
    &::after{
        content: '';
        position: absolute;
        top: 0.1vw;
        right: -1.67vw;
        width: 1.25vw;
        height: 1.25vw;
        background-image: url(../img/icon/arrow.svg);
        background-size: cover;
    }
}
.herosection__background-text {
    margin-bottom: 0.4vw;
    color: var(--gray-scale-gray-100, #F1F1F1);
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.herosection__background-img {
    width: 4.7vw;
}
.herosection__background-star {
    width: 0.9vw;
}
.delivered {
    background-color: #fff;
    padding-top: 7.8vw;
    padding-bottom: 7.5vw;
}
.delivered__title {
    margin-bottom: 5.2vw;
    color: var(--gray-scale-gray-800, #1E1E1E);
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.delivered__item {
    display: flex;
    justify-content: space-between;
}
.delivered__sidebar {
    width: 13vw;
}
.delivered__list{
    margin-bottom: 10.42vw;
    max-height: 16vw;
    overflow-y: scroll;
}
.delivered__list-item {
    margin-bottom: 2.24vw;
    color: var(--gray-scale-gray-500, #707070);
    font-size: 0.94vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;
    &:hover {
        color: #1E1E1E;
    
    }
}
.delivered__list-link {
    color: inherit;
}
.delivered__sidebar-link {
    color: var(--gray-scale-gray-800, #1E1E1E);
    font-size: 0.94vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
    position: relative;
    border-bottom: 1px solid #1E1E1E;
}
::-webkit-scrollbar {
    width: 0.1vw;
    height: 1px;
}
::-webkit-scrollbar-track {
    background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #1b8ffa;
}
.delevered__box-photo {
    width: 38vw;
    padding: 0 3.65vw;
}
.delivered__content {
    width: 24vw;
}
.delivered__content .delivered__sidebar-link {
    display: none;
}
.delivered__content-title {
    margin-bottom: 2vw;
    color: var(--gray-scale-gray-800, #1E1E1E);
    font-size: 2vw;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 0.4px;
}
.delivered__content-box {
    margin-bottom: 3.13vw;
}
.delivered__content-title span {
    color:  #707070;
}
.delivered__content-box-star {
    margin-bottom: 0.8vw;
}
.delivered__content-star {
    width: 0.8vw;
    height: 0.8vw;
}
.delivered__content-text {
    margin-bottom: 0.8vw;
    color: var(--gray-scale-gray-500, #707070);
    font-size: 0.94vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;
}
.delivered__content-span {
    color: var(--gray-scale-gray-800, #1E1E1E);
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.delivered__content-link {
    display: inline-block;
    margin-bottom: 90px;
    position: relative;
    color: #0F0F0F;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
}
.delivered__content-link span {
    display: inline-block;
    width: 1.25vw;
    height: 1.25vw;
    position: relative;
    top: 0.4vw;
    right: 0;
}
.delivered__box-momile-link {
 display: flex;
 justify-content: center;
}
//services
.services {
    position: relative;
    border-bottom: 1px solid var(--gray-scale-gray-700, #32322F);
    background: var(--gray-scale-gray-900, #0F0F0F); 
}
.services__box-item {
    display: flex;
}
.services__title {
    position: absolute;
    top: 7.8vw;
    left: 31vw;
    color: #F1F1F1;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.services__title span {
    color: #707070;
}
.services__item {
    padding: 0 2vw 10.94vw;
    height: 54.17vw;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 1px solid #ccc;
}
.services__item-title {
    margin-bottom: 2vw;
    max-width: 11.8vw;
    color: #F1F1F1;
    font-size: 1.46vw;
    font-weight: 700;
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.28px;
}
.services__item-text {
    margin-bottom: 2vw;
    color: #CCC;
    font-size: 0.83vw;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.services__item-link {
    display: none;
    color: #F1F1F1;
    font-size: 0.94vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
    border-bottom: 1px solid #F1F1F1;
}
.first-item {
    background: url(../img/image/Header_Background.png);
    background-repeat: no-repeat;
    background-position-x: center;
}
.first-item .services__item-link{
    display: inline-block;
}
.services__item-box-img {
    margin-bottom: 2.6vw;
    width: 5.2vw;
    height: 5.2vw;
}
//partners
.partners {
    padding: 6.77vw 0;
    border-bottom: 1px solid  #32322F;
    background: #0F0F0F;
}
.partners__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 9.72vw;
    row-gap: 5.72vw; 
}
.partners__box-logo {
    width: 10.93vw;
    height: 2vw;
}
// step
.step {
    padding-bottom: 6.25vw;
    background: #0F0F0F;
    overflow-x: hidden;
}
.step__header {
    padding-top: 7.8vw;
    padding-bottom: 5.72vw;
    display: flex;
    gap: 10.9vw;
    justify-content: space-between;
    align-items: center;
}
.step__title {
    min-width: 36vw;
    color: #F1F1F1;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.step__wrapper-technology-icon {
    width: 56vw;
    display: flex;
    flex-shrink: 0;
    gap: 3vw;
   
}
.step__box-technology-icon {
    width: 6vw;
    height: 1.4vw;
}
// step__content
.step__content {
    display: flex;
    gap: 12.6vw;
}
.step__content-list {
    width: 31vw;
    padding-top: 3.49vw;
    padding-bottom: 3.49vw;
}
.step__list-item {
    margin-bottom: 2vw;
}
.step__list-text {
    display: none;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 3.6vw;
        color: #CCC;
        font-size: 1vw;
        font-weight: 400;
        line-height: 130%; /* 26px */
        letter-spacing: 0.2px;
}
.step__list-link {
    color: #525252;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    letter-spacing: 0.24px;
    &:hover {
        .step__list-text{
            display: block;
        }
        color: #CCC;
        font-size: 1.66vw;
    }
}
.step__link-box {
    display: flex;
    gap: 1.6vw;
}
.step__content-img {
    width: 32.2vw;
    height: 32.2vw;
}
.swiper {
    padding-bottom: 50px;
}
.swiper {
    display: none;
    position: relative;
}
.swiper .step__list-text {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 0;
    font-size: 18px;
}
.swiper .step__list-link {
    color: #CCC;
    font-size: 18px;
}
.swiper .step__list-link:hover {
    font-size: 18px;
}
.button-swiper{
    position: absolute;
    bottom: 0;
    cursor: pointer;
    left: 50%;
    z-index: 10;
}
.swiper-button-left {
  transform: translateX(-32px);
}
.swiper-button-right {
    transform: translateX(32px);
}
// reviews

.reviews {
    padding-top: 7.2vw;
    padding-bottom: 8.85vw;
    background: #0F0F0F;
    
}
.reviews__wrapper {
    display: flex;
    gap: 11.7vw;
    justify-content: space-between;
}
.reviews__box-video {
    width: 30vw;
    height: 17.3vw;
   
}
.reviews__wrapper-video {
    display: inline-block;
    width: 30vw;
    height: 17.3vw;
    margin-bottom: 2.65vw;
}
.reviews__title {
    margin-bottom: 2vw;
    color: #F1F1F1;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.reviews__box-video-text {
    color: #CCC;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0F0F0F;
    z-index: 2;
}
.popup-body {
    position: relative;
    width: 640px;
    height: 284px;
    margin: 200px auto;
}
.popup-body video{
   max-width: 100%;
}
.popup-close {
    position: absolute;
    font-size: 28px;
    top: 5px;
    right: 5px;
    z-index: 5;
}
.btn-close span {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #CCC;
    width: 24px;
    height: 2px;
    z-index: 10;
}
.reviews__box-cards {
    display: flex;
    flex-direction: column;
    gap: 1.66vw;
}
.reviews__card {
    padding: 1.7vw 2.7vw;
    width: 28.7vw;
    border-radius: 4px;
    border: 1px solid #707070;
    opacity: 0.4;
    color: #707070;
}
.reviews__card:hover {
    border: 1px solid #B7B7B7;
    transform: translateX(-4vw);
    transition: all 0.4s ease;
    .reviews__card-main, .reviews__card-header-text, .reviews__card-name, .reviews__card-specialist {
        color: #F1F1F1;
    }
}

.reviews__card-header {
    margin-bottom: 1vw;
}
.reviews__card-header-text {
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.96px;
}
.reviews__card-main {
    margin-bottom: 2vw;
    color: #707070;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
}
.reviews__card-name {
    color: #CCC;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
}
.reviews__card-specialist {
    color:  #707070;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.reviews__box-video-logo {
    margin-bottom: 0.5vw;
    width: 4.1vw;
    height: 4.3vw;
}
.reviews__box-video-text {
    margin-bottom: 40px;
}
.reviews__mobile-text {
    display: none;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
.reviews__mobile-text  span {
    display: none;
    color: #D8D8D8;
}
.logo-mobile-reviews {
    display: inline-block;
    display: none;
    margin-bottom: 7px;
}
.box-star {
    display: none;
    margin-bottom: 11px;
}
.reviews_wrapper-run {
    display: none;
    overflow-x: scroll;
}
.reviews__box-run {
    margin-bottom: 40px;
    display: flex;
    gap: 100px;
    width: 950px;
}
.reviews__box-run:nth-child(2){
    margin-left: 60px;
}
// galery
.galery {
    background: #FAFAFA;
    position: relative;
}
.galery__header {
    padding-top: 7.8vw;
    padding-bottom: 5.2vw;
}
.galery__title {
    color: #707070;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.galery__box-img {
    position: relative;
    min-height: 35vw;
    overflow: hidden;
}
.galery__image {
    position: absolute;
    width: 15.8vw;
}
.galery__image:nth-child(1) {
    height: 17.4vw;
    top: 6vw;
    left: -6vw;
}
.galery__image:nth-child(2) {
    bottom: -3vw;
    left: -6vw;
}
.galery__image:nth-child(3) {
    width: 12.8vw;
    height: 15.8vw;
    top: 17vw;
    left: 12vw;
}
.galery__image:nth-child(4) {
    top: 8vw;
    left: 27vw;
}
.galery__image:nth-child(5) {
    top: 24vw;
    left: 27vw;
}
.galery__image:nth-child(6) {
    width: 12.8vw;
    height: 21vw;
    top: 11vw;
    right: 42vw;
}
.galery__content {
    width: 15.8vw;
    position: absolute;
    top: 8vw;
    right: 23vw;
}
.galery__content-title {
    margin-bottom: 1vw;
    color: #1E1E1E;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    letter-spacing: 0.24px;
}
.galery__content-text {
    margin-bottom: 2vw;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.galery__image:nth-child(7) {
    width: 15.8vw;
    bottom: 0vw;
    right: 24vw;
}
.galery__image:nth-child(8) {
    width: 12.8vw;
    height: 17.5vw;
    top: 6vw;
    right: 9vw;
}
.galery__image:nth-child(9) {
    width: 12.8vw;
    height: 11.8vw;
    bottom: -2vw;
    right: 9vw;
}
.galery__image:nth-child(10) {
    width: auto;
    height: 8.2vw;
    top: 2vw;
    right: 0;
}
.galery__image:nth-child(11) {
    width: auto;
    height: 18.59vw;
    bottom: 2vw;
    right: 0;
}
.galery-mobile {
    display: none;
}
//get-talk
.get-talk {
    display: flex;
}
.get-talk__left {
    width: 68vw;
    padding: 6.7vw 0 6.7vw 11.9vw;
    background: url(../img/image/lets-background.png) no-repeat;
    background-size: cover;
}
.get-talk__title {
    margin-bottom: 3vw;
    color: #FAFAFA;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.button__main {
    color: #FAFAFA;
    font-size: 0.8vw;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
    padding: 1vw 1.8vw 1vw 2vw;
    border-radius: 4px;
    border: 1px solid #FAFAFA;
    background-color: transparent;
}
.button__main svg {
    position: relative;
    top: 0.2vw;
    left: 1vw;
}
.button__main:hover{
    opacity: 0.5;
}
.get-talk__right {
    padding: 6.7vw 0 6.7vw 7.5vw;
    border-bottom: 1px solid #32322F;
    background: #0F0F0F;    
}
//footer
footer {
    padding-top: 7.2vw;
    padding-bottom: 5.2vw;
    background: #0F0F0F;
}
.footer__top-wrapper {
    padding-bottom: 3vw;
    display: flex;
    justify-content: space-between;
    gap: 18vw;
}
.footer__top-content {
    width: 30vw;
}
.footer__top-title {
    margin-bottom: 2vw;
    color: #FAFAFA;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.footer__top-text {
    margin-bottom: 3.2vw;
    color: #EBEBEB;
    font-size: 1vw;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
.footer__top-box-email, .footer__top-box-phone {
    display: flex;
    align-items: center;
    gap: 0.8vw;
}
.footer__top-box-email {
    margin-bottom: 0.6vw;
}
.footer__top-email, .footer_top-phone {
    color: #FAFAFA;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
}
.footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    .herosection__background {
        display: block;
    }
}
.footer__social {
    display: flex;
    align-items: center;
    gap: 2vw;
}
// about
.about {
    background-color: #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
.header__white .logo-img{
    display: none;
}
.header__white .logo-mobile-nav {
    display: block;
}
.header__white .menu__list-item{
    color: #0F0F0F;
    &:hover {
        color: #13E3B1;
    }
}
.header__white .menu__list-item:last-child {
    color: #13E3B1;
    &:hover{
        opacity: 0.5;
    }
}
.about__content {
    position: relative;;
}
.about__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 6vw;
}
.about__box-text {
    padding-top: 8.5vw;
    max-width: 43vw;
}
.logo__about {
    margin-bottom: 3.64vw;
    width: 7.7vw;
}
.about__text {
    color: #32322F;
    font-size: 1vw;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
.about__title {
    color: #1E1E1E;
    font-size: 3.2vw;
    font-weight: 700;
    line-height: 120%; /* 74.4px */
    letter-spacing: 0.62px;
}
.about__img {
    position: relative;
    width: 28.4vw;
    height: 42.5vw;
    top: 5.2vw;
    z-index: 2;
}
.about__background {
    position: absolute;
    top: 0;
    right: 0;
    width: 26.5vw;
    height: 100%;
    background-color: #2999FE;
    z-index: 1;
}
// industry
.industry {
    padding: 9.3vw 0;
    background-color: #E4E4E4;
}
.industry__wrapper {
   
}
.industry__top {
    margin-bottom: 9.3vw;
    display: flex;
    justify-content: space-between;
}
.industry__top-title {
    max-width: 29vw;
}
.industry__title {
    color:#1E1E1E;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 125%; /* 60px */
    letter-spacing: 0.48px;
}
.industry__top-content {
    max-width: 29.7vw;
}
.industry__top-text {
    margin-bottom: 4.1vw;
    color: #1E1E1E;
    font-size: 1vw;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
.industry__link {
    color: #1E1E1E;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
    border-bottom: 1px solid #1E1E1E;
    &:hover {
        opacity: 0.5;
    }
}
.industry__list {
    display: flex;
    gap: 8.52vw;
}
.industry__item-title {
    margin-bottom: 1.36vw;
    color: #525252;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;
}
.industry__item-text {
    margin-bottom: 0.5vw;
    color: #1E1E1E;
    font-size: 1vw;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
// timeline
.timeline {
    background: #0F0F0F;
}
.timeline__header {
    padding: 7.2vw 0 5.2vw;
}
.timeline__title {
    color: #F1F1F1;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.timeline__content {
    padding: 2.6vw 0 7.8vw;
    border-top: 1px solid #32322F;
}
.timeline__item {
    position: relative;
    width: 16vw;
}
.timeline__item::after{
    content: '';
    position: absolute;
    top: 5vw;
    right: -3vw;
    width: 2.7vw;
    height: 2.7vw;
    background: url(../img/icon/nav-arrow-down.svg) no-repeat;
}
.timeline__item-header {
    margin-bottom: 1.5vw;
    color: #F1F1F1;
    font-size: 3.2vw;
    font-weight: 600;
    line-height: 120%; /* 74.4px */
    letter-spacing: 0.62px;
}
.timeline__item-month {
    margin-bottom: 0.7vw;
    color: #F1F1F1;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 135%; /* 32.4px */
    letter-spacing: 0.24px;
}
.timeline__item-text {
    color: #CCC;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;
}
.timelineSwiper {
    display: block;
}
// result
.result {
    padding: 7.2vw 0 9.3vw;
    border-top: 1px solid #32322F;
    background: #0F0F0F;
}
.result__title {
    margin-bottom: 5.2vw;
    color: #F1F1F1;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.result__list {
    display: flex;
    gap: 3.8vw;
    justify-content: space-between;
}
.result__list-item {
    max-width: 16.1vw;
}
.result__list-item svg {
    margin-bottom: 1vw;
}
.result__list-item-text {
    margin-bottom: 1.5vw;
    color: #F1F1F1;
    font-size: 1vw;
    font-weight: 700;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
.result__list-item span{
    color: #CCC;
    font-size: 0.8vw;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
// made
.made {
    padding: 7.8vw 0;
    background-color:#F1F1F1;
}
.made__header {
    margin-bottom: 5.2vw;
    display: flex;
    justify-content: space-between;
}
.made__title {
    color:#1E1E1E;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 125%; /* 60px */
    letter-spacing: 0.48px;
}
.made__heade-right {
    max-width: 26.7vw;
}
.made__heade-right-text {
    margin-bottom: 4.1vw;
    color: #1E1E1E;
    font-size: 1vw;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
.made__link {
    color: #1E1E1E;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
    border-bottom: 1px solid #1E1E1E;
}
.made__block-img-top {
    margin-bottom: 2.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.made__img-top-left {
    width: 31.2vw;
}
.made__img-top-right {
    width: 31.2vw;
}
.made__block-img-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.made__bottom-boxleft-img {
   position: relative;
   bottom: -5vw;
   left: 0;
    width: 31.2vw;
    height: 31.2vw;
    background: #3769F1;
    overflow: hidden;
}
.made__img-bottom-left {
    position: absolute;
    bottom: -3.8vw;
    left: 50%;
    transform: translateX(-50%);
}
.made__bottom-right {
    padding: 3.1vw;
    width: 31.2vw;
    background: #FAB81B;
}
.made__bottom-right-subtitle {
    margin-bottom: 8.8vw;
    color: #FAFAFA;
    font-size: 0.8vw;
    font-weight: 600;
    line-height: 135%; /* 22.95px */
    letter-spacing: 0.17px;
}
.made__bottom-right-title {
    margin-bottom: 4.6vw;
    color: #F1F1F1;
    font-size: 2vw;
    font-weight: 700;
    line-height: 135%; /* 54px */
    letter-spacing: 0.4px;
}
.made__bottom-right-undertitle {
    color: #F1F1F1;
    font-size: 1.2vw;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    letter-spacing: 0.24px;
}
// objectives
.objectives {
    padding: 7.8vw 0;
    background-color:#F1F1F1;
}
.objectives__wrapper {
    margin-bottom: 5.2vw;
    display: flex;
    justify-content: space-between;
}
.objectives__title {
    color: #1E1E1E;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 125%; /* 60px */
    letter-spacing: 0.48px;
}
.objectives__content {
    max-width: 27.7vw;
    color: #1E1E1E;
    font-size: 1vw;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
.objectives__content-text {
    margin-bottom: 4.1vw;
}
//below
.below {
    background-color:#F1F1F1;
}
.below__wrapper {
    padding: 7.8vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13.7vw;
}
.below__content {
    display: flex;
    flex-direction: column;
    max-width: 27vw;
    color: #32322F;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;
}
.below__subtitle {
    margin-bottom: 1vw;
    color: #1B8FFA;
    font-size: 1vw;
    font-weight: 600;
    line-height: 130%; /* 26px */
    letter-spacing: 0.2px;
}
.below__title {
    margin-bottom: 2.6vw;
    color: #1E1E1E;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.below__box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31.2vw;
    background: #1B8FFA;
}
.below-content-bottom{
    order: 2;
}
.below-img-bottom {
    order: 1;
}
// case-study
.case-study {
    padding: 7.8vw 0;
    background-color:#F1F1F1;
}
.case-study__title {
    margin-bottom: 5.2vw;
    max-width: 23vw;
    color: #1E1E1E;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.48px;
}
.case-swiper {
    display: block;
}
.case__wrapper {
    max-width: 61vw;
    display: flex;
    gap: 5.2vw;
    justify-content: space-between;
}
.case__img {
    width: 30vw;
}
.case__content-title {
    margin-bottom: 2vw;
    color: #707070;
    font-size: 2vw;
    font-weight: 600;
    line-height: 135%; /* 54px */
    letter-spacing: 0.4px;
}
.case__content-stars {
    margin-bottom: 0.8vw;
}
.case__content-text {
    margin-bottom: 0.8vw;
    color: #707070;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.18px;
}
.case__content-undertitle {
    margin-bottom: 3.1vw;
    color: #1E1E1E;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.case__link {
    position: relative;
    color: #0F0F0F;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    border-bottom: 1px solid #0F0F0F;
}
.case__link svg {
    display: inline-block;
    width: 1.25vw;
    height: 1.25vw;
    position: relative;
    top: 0.3vw;
    right: 0;
}
.case-study .swiper-slide{
    margin-right: 13.5vw;
    max-width: 61vw;
}
.case-swiper .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    width: 73.6vw;
}
// post-herosection
.post-herosection {
    padding: 5.2vw 0;
    background-color:#F1F1F1;
}
.post-herosection__wrapper {
    display: flex;
    gap: 3.1vw;
}
.post-herosection__img {
    width: 41.6vw;
}
.post-herosection__undertitle {
    display: inline-block;
    margin-bottom: 1.36vw;
    color: #1B8FFA;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
    border-bottom: 1px solid #1B8FFA;
}
.post-herosection__title {
    margin-bottom: 2vw;
    color: #1E1E1E;
    font-size: 2vw;
    font-weight: 600;
    line-height: 135%; /* 54px */
    letter-spacing: 0.4px;
}
.post-herosection__box-autor {
    margin-bottom: 7.7vw;
    display: flex;
    gap: 1.25vw;
}
.post-herosection__box-autor-img {
    width: 2.9vw;
    height: 2.9vw;
}
.post-herosection__autor-name {
    color: #1E1E1E;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;
}
.post-herosection__autor-time {
    color: #8E8E8E;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
// posts
.posts {
    padding: 5.2vw 0;
    background-color:#F1F1F1;

}
.tabs {
    margin-bottom: 7.8vw;
}
.tabs__head-container {
    margin-bottom: 3.6vw;
    display: flex;
    justify-content: space-between;
}
.tabs__head {
    color: #1E1E1E;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 125%; /* 60px */
    letter-spacing: 0.48px;
}
.tabs-header-container {
    display: flex;
    gap: 1.7vw;
    // overflow-x: scroll;
    // &::-webkit-scrollbar {
    //     width: 0;
    // }
}
.tab__title {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%;
    color: #B7B7B7;
    transition: all .2s;
    text-decoration: underline;
    &:hover {
        color: #0F0F0F;
    }
}
.active-tab {
    color: #0F0F0F;
}

.tab__content {
    display: flex;
    flex-wrap: wrap;
    gap: 5.7vw;
}
.hidden-tab-content {
    display: none;
}
.tabs-content__item {
    width: 46%;
}
.posts__img {
    margin-bottom: 1.35vw;
    width: 100%;
}
.posts__link-work {
    margin-right: 2vw;
    margin-bottom: 0.9vw;
    color: #1B8FFA;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: 0.18px;
    border-bottom: 1px solid #1B8FFA;
}
.posts__link-work:hover {
    color: #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
}
.posts__link {
    margin-bottom: 0.9vw;
    color: #1E1E1E;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 135%;
}
.posts__link svg {
    width: 3.1vw;
    height: 1.8vw;
    position: relative;
    top: 0.5vw;
}
.post-herosection__autor-time {
    color:  #8E8E8E;
    font-size: 0.8;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.section-pagination {
    text-align: center;
}
.section-pagination__container {
    margin-bottom: 0.7vw;
}
.section-pagination__container-button {
    margin-bottom: 0.7vw;
    display: flex;
    justify-content: center;
    gap: 1vw;
}
.section-pagination__link-button {
    padding-top: 0.7vw;
    width: 9.8vw;
    height: 3.1vw;
    color: #0F0F0F;
    font-size: 0.8vw;
    font-weight: 600;
    line-height: 150%; /* 24px */
    border-radius: 4px;
    border: 1px solid #0F0F0F;
}
.section-pagination__link-button svg{
    position: relative;
    width: 1.6vw;
    height: 1.1vw;
    top: 0.3vw;
}
.section-pagination__container-pagination {
    color: #1E1E1E;
    font-size: 0.8vw;
    font-weight: 600;
    line-height: 150%; /* 24px */
}










@import 'base/media.scss';