@font-face {
    font-family: 'Zonapro', sans-serif;
    src: url(../fonts/Zonapro/ZonaPro-Regular.ttf);
    src: url(../fonts/Zonapro/ZonaPro-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Epilogue', sans-serif;
    src: url(../fonts/Zonapro/ZonaPro-SemiBold.ttf);
    src: url(../fonts/Zonapro/ZonaPro-SemiBold.woff2) format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Montreal', sans-serif;
    src: url(../fonts/Zonapro/ZonaPro-Bold.ttf);
    src: url(../fonts/Zonapro/ZonaPro-Bold.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

